<div class="packs">
{% section 'product-mg-starter' %}
{% section 'product-template' %}




{% if collection %}
  <div class="text-center page-content page-content--bottom">
    <a href="{% if collection.handle == 'frontpage' %}/{% else %}{{ collection.url }}{% endif %}" class="btn btn--small return-link">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-arrow-left" viewBox="0 0 50 15"><path d="M50 5.38v4.25H15V15L0 7.5 15 0v5.38z"/></svg> {{ 'products.general.collection_return' | t: collection: collection.title }}
    </a>
  </div>
{% endif %}
  
  
    <!-- pack content -->
  <div class="index-section ">
     <div class="page-width text-left">
        <div class="grid">
           <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

                 <div class="packcontent">
    
                   
                   <div class="packrow">
                   <div id="packb" class="grid__item medium-up--one-third aos-init aos-animate" data-aos="row-of-3">

          				<p class="h3">Plant Apothecary Start Happy Wash (30ml)</p>
                     <i>Vegan, natural, organic, recyclable</i>
                     <p>With geranium and peppermint, start your day the right way, with a serotonin-spiking shower</p>
                     
        		   </div>
                   
         		   
                   
              	   <div class="grid__item medium-up--one-third aos-init aos-animate" data-aos="row-of-3">
						
                        <p class="h3">Innersense Sweet Spirit Leave-In Conditioner (60ml)</p>
                     <i>Natural, organic, recyclable</i>
                     <p>A deeply quenching formula to detangle and condition hair. Bursting with lavender for aromatherapy benefits, too.</p>
                  
                     </div>
                       <div class="grid__item medium-up--one-third aos-init aos-animate" data-aos="row-of-3">
						
                        <p class="h3">Q+A Charcoal Face Mask (50g)</p>
                     <i>Vegan, natural, recyclable </i>
                     <p>This uses three key ingredients to detoxify the skin: Activated Charcoal to draw out toxins, Bentonite to absorb excess oils and balance skin tone and Kaolin which assists in detoxifying and hydrating the skin.</p>
                  
                     </div> 
                   </div>
                   <div class="clearfix" style="margin-bottom: 50px;"></div>
                   <div class="packrow">
                   
                   
         		   <div class="grid__item medium-up--one-third aos-init aos-animate" data-aos="row-of-3">
						
                        <p class="h3">Goldfaden MD Sachet Trio – Doctors Scrub, Bright Eyes, Vital Boost (15ml: 3x 5ml)</p>
                     <i>Vegan, natural, recyclable </i>
                        <p>This skincare triptych includes a polish, a moisturiser and an eye cream, designed to enliven tired eyes and brighten dull skin. </p>
         
                   </div>
                   
              	   <div class="grid__item medium-up--one-third aos-init aos-animate" data-aos="row-of-3">
						
                        <p class="h3">Josh Rosebrook Hydrating Accelerator (60ml)</p>
                     <i>Vegan, natural, organic, recyclable </i>
                     <p>A refreshing, herb-infused mist that delivers antioxidants and an intense hit of hydration. Great for on the go.</p>
                   
                     </div>
                       <div class="grid__item medium-up--one-third aos-init aos-animate" data-aos="row-of-3">
						
                        <p class="h3">KIKI Health Superfood (20g)</p>
                     <i>Natural, recyclable </i>
                        <p>Add this supercharged, nutrient-rich supplement, with whole foods, micro-algae and enzymes to your juice, smoothie or salad.</p>
          
                   </div>
             	   </div>
                    <div class="clearfix" style="margin-bottom: 50px;"></div>
                   <img src="https://cdn.shopify.com/s/files/1/0445/0828/3039/files/New_Project_86_2376x.jpg?v=1610124149">
                   <div class="packrow">
                   <div class="grid__item medium-up--one-third aos-init aos-animate" data-aos="row-of-3">

          				<p class="h3">Juice Beauty Green Apple Defy Moisturizer (15ml)</p>
                     <i>Vegan, natural, recyclable</i>
                     <p>With a cocktail of antioxidants including CoQ10 and Vitamin C, this smoothes, brightens and smells delicious. </p>
                     
        		   </div>
                   
         		   <div class="grid__item medium-up--one-third aos-init aos-animate" data-aos="row-of-3">
						
                        <p class="h3">Odacite Synergie4 Immediate Beauty Perfecting Masque (7g)</p>
                     <i>Vegan, natural, recyclable </i>
                        <p>A treatment mask designed to simultaneously detoxify, polish, brighten and bolster skin. </p>
         
                   </div>
                   
              	   <div class="grid__item medium-up--one-third aos-init aos-animate" data-aos="row-of-3">
						
                        <p class="h3">UpCircle Coffee Face Scrub (5g)</p>
                     <i>Vegan, natural, recyclable </i>
                     <p>Wake up tired skin with this gentle scrub, made using beans from London coffee shops, in addition to sweet orange, lemon verbena, rosehip and shea butter.</p>
                
                     </div>
                   </div>
                    <div class="clearfix" style="margin-bottom: 50px;"></div>
                   
                   <div class="packrow">
                   <div class="grid__item medium-up--one-third aos-init aos-animate" data-aos="row-of-3">

          				<p class="h3">Doers of London Body Wash (50ml)</p>
                     <i>Vegan, Natural, recyclable </i>
                     <p>Powerful and gentle body wash, that nourishes the skin and respects its natural moisture. Formulated to work with you so you can work harder... and smell better doing it.</p>
                     
        		   </div>
                   
         		 
                   
              	 
                   </div>
    
                 </div>
           </div>
          
        
          
          
          
        </div>
      </div>
    
    
    
    
    
  </div>
  <div class="index-section packabout ">
  <div class="page-width text-left">
    <div class="grid">
      <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">
        
          <p class="h3">
            About Mint Green
          </p>
        
        
          <div class="rte">
            <div class="enlarge-text">
              <p>New here? Hello! If you hadn’t already gathered, we’re a conscious beauty e-tailer, passionate about products that don’t compromise our planet. From refills and recycling, to supply chains and ingredients, we only sell – and shout about – brands with convincing credentials. In doing so we hope to educate, empower, surprise and delight you. </p>
            </div>
          </div>
        
      </div>
    </div>
  </div>
</div>
  
  </div>  
<!-- Yotpo - Reviews Widget --> 
<!-- <div class="yotpo yotpo-main-widget"  style="width: 75%"
 data-product-id="{{ product.id }}"
 data-price="{{ variant.price | money_without_currency }}"
 data-currency="{{ shop.currency }}" 
 data-name="{{ product.title | escape }}" 
 data-url="{{ shop.url }}{{ product.url }}" 
 data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" 
 data-description="{{ product.description | escape }}">
{%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
  {%- assign time_now = 'now' | date: '%s' %}
  {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
  {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
  {%- assign yotpo_main_widget_last_updated = product.metafields.yotpo.main_widget_update_time | date: '%s' %}
  {%- assign diff_seconds_from_last_main_widget_update = time_now | minus: yotpo_main_widget_last_updated %}
  {%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_main_widget_last_updated and diff_seconds_from_last_main_widget_update < 86400 -%}
    {%- assign yotpo_main_widget_obsolete = false %}
  {%- else %}
    {%- assign yotpo_main_widget_obsolete = true %}
  {%- endif %}
  {%- if yotpo_offload_content == 'yes' and yotpo_main_widget_obsolete != true -%}
    {%- for field in product.metafields.yotpo_reviews -%}
      {{ field | last }}
    {%- endfor -%}
  {%- endif %}
</div> -->
</div>
<!--  End of Yotpo - Reviews Widget -->  